@font-face {
    font-family: "Hugh-Whittle";
    src: url('./Hugh-Whittle.ttf') format("truetype");
}


@font-face {
    font-family: "Miraikato";
    src: url('./Miraikato.otf') format("truetype");
}


@font-face {
    font-family: "MontserratAlternates-Black.otf";
    src: url('./MontserratAlternates-Black.otf') format("truetype");
}

.Logo{
    font-family: "Hugh-Whittle";
    font-size: 120px;
    margin: 0;
}

.Minimizado{
    font-family: "Hugh-Whittle";
    font-size: 120px;
    margin-bottom: 0;
    color: goldenrod;
    margin-top: -80px;
}


.secondary-text{
    font-family: "Miraikato";
    font-size: 45px;
    color: rgb(239, 238, 235);
    margin-bottom: 20px;
}
.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.8;
    padding: 10px;
    height: 350;
    border-bottom: 5px solid goldenrod;

  

}

.nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    gap: 25px;

}

.nav-item{
    /* padding: 10px; */
    border-radius: 2px;
    /* margin: 5px; */
    font-size: 20px;
    border-bottom: 2px solid transparent;

    /* background-color: rgba(255, 255, 255, 0.627); */
}

.nav-item:hover{
  
    border-bottom: 1px solid white;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
    background-image: url("https://images6.alphacoders.com/609/609345.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    text-align: center;
    font-family: 'MontserratAlternates-Black.otf';
    margin: 0px;
    padding: 0px;

}

.container{
    opacity: 0.8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 90px;
    animation: fadeIn 1s; 

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.card{
    background-color: black;
    width: 860px;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s; 

}


.menu{
    background-color: black;
    width: 860px;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s; 

}

p{
    color: white;
}

.content{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
}


hr{
    border: 5px solid goldenrod;
    border-radius: 5px;
    width: 50%;
  }

  .third-text{
    font-size: 25px;
    color: rgb(239, 238, 235);
     }

.chef{
    width:350px;
    height: auto;
    opacity: 1;
}

.menu-banner{
    width:100%;
    height: auto;
    opacity: 1;
    border: 5px solid goldenrod;


}


.footer{
    border-top: 5px solid goldenrod;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;
    opacity: 0.8;
    margin-top: auto;


}

.footer-text{
    font-size: 16px;
}

.dish-name{
    color: white;
}

.dish-ingredients{
    color: white;
}


.menu-dishes{
 display: flex;
 flex-direction: row;
flex-wrap: wrap;
 align-items: center;
 align-content: center;
 padding: 60px;
}

.menu-dish{
width: 50%;
height: auto;
   }


   @media (max-width: 800px) {
    .menu-dishes {
      flex-direction: column;
    }
  }

